layout {

    focus-ring {
        active-color   "#d5aca9"
        inactive-color "#1a1d20"
        urgent-color   "#b38d97"
    }

    border {
        active-color   "#d5aca9"
        inactive-color "#1a1d20"
        urgent-color   "#b38d97"
    }


    tab-indicator {
        active-color   "#d5aca9"
        inactive-color "#933f39"
        urgent-color   "#b38d97"
    }

    insert-hint {
        color "#d5aca980"
    }
}

recent-windows {
    highlight {
        active-color "#d5aca9"
        urgent-color "#b38d97"
    }
}
